<%-include("head.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        div{
            display: inline-block; 
            width: 1060px;
            position: absolute; 
            padding: 10px;
        }
    </style>
</head> 
<body> 
    <div>
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum eius tenetur molestiae commodi recusandae laudantium ex a praesentium similique ad quidem maxime, aliquam blanditiis qui illo eos. Explicabo, perferendis totam?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum eius tenetur molestiae commodi recusandae laudantium ex a praesentium similique ad quidem maxime, aliquam blanditiis qui illo eos. Explicabo, perferendis totam?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum eius tenetur molestiae commodi recusandae laudantium ex a praesentium similique ad quidem maxime, aliquam blanditiis qui illo eos. Explicabo, perferendis totam?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum eius tenetur molestiae commodi recusandae laudantium ex a praesentium similique ad quidem maxime, aliquam blanditiis qui illo eos. Explicabo, perferendis totam?</p>
</div>
</body>
</html>