<%-include("head.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide Page</title>
    <style>
        div{
            display: inline-block; 
            width: 1060px;
            position: absolute; 
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
    <h1>Guide Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae aperiam impedit? Dolor veniam voluptatum id repudiandae ipsum eos quod perferendis vitae, fugit recusandae sed dolorum illum consequatur aspernatur. Dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae aperiam impedit? Dolor veniam voluptatum id repudiandae ipsum eos quod perferendis vitae, fugit recusandae sed dolorum illum consequatur aspernatur. Dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae aperiam impedit? Dolor veniam voluptatum id repudiandae ipsum eos quod perferendis vitae, fugit recusandae sed dolorum illum consequatur aspernatur. Dignissimos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis recusandae aperiam impedit? Dolor veniam voluptatum id repudiandae ipsum eos quod perferendis vitae, fugit recusandae sed dolorum illum consequatur aspernatur. Dignissimos.</p>
</div>
</body>
</html>