<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title> 
    <link rel="stylesheet" href="./styles.css">
    
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/info">INFORMATION</a></li>
            <li><a href="/guid">GUIDE</a></li>
        </ul>
    </nav>
</body>
</html>