<%-include("head.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Page</title>
    <link rel="stylesheet" href="./styles.css"> 
    <style>
        div{
            display: inline-block; 
            width: 1060px;
            position: absolute; 
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
    <h1>Info page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequatur perferendis veniam repellendus assumenda libero debitis similique nulla ratione alias exercitationem cupiditate iusto. Reiciendis, saepe recusandae id mollitia minima suscipit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequatur perferendis veniam repellendus assumenda libero debitis similique nulla ratione alias exercitationem cupiditate iusto. Reiciendis, saepe recusandae id mollitia minima suscipit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequatur perferendis veniam repellendus assumenda libero debitis similique nulla ratione alias exercitationem cupiditate iusto. Reiciendis, saepe recusandae id mollitia minima suscipit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequatur perferendis veniam repellendus assumenda libero debitis similique nulla ratione alias exercitationem cupiditate iusto. Reiciendis, saepe recusandae id mollitia minima suscipit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequatur perferendis veniam repellendus assumenda libero debitis similique nulla ratione alias exercitationem cupiditate iusto. Reiciendis, saepe recusandae id mollitia minima suscipit.</p>
</div>
</body>
</html>